<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css"herf="/css/main.css">
  </head>
  <body>
     <nav>
     <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/acerca">Acerca de mi</a></li>
        <li><a href="/proyecto">Proyecto</a></li>
        <li><a href="/Tareas">Tareas</a></li>
     </ul>
     </nav>
       <div class="container">
      {{content}}
         </div>
         </div>
         <footer>
         <ul>
           <li><a href="mailto:rodrigo.gonzales@upch.pe">email</a></li>
           <li><a href="https://github.com/RAGonzalesCabrera1/">github.com/RAGzonzalesCabrera1/</a>
          </ul>
          </footer>
          </body>
          </html>
